<!--The content below is only a placeholder and can be replaced.-->
<nz-layout class="layout">
  <nz-header class="header">
    <div class="logo" style="float:left;width:35%;height:70px;"><img src="../assets/images/logo.png" alt="" style=""></div>
    <nz-dropdown [nzTrigger]="'click'"  class="login_account">
      <a href class="ant-dropdown-link" nz-dropdown>
        admin <i class="anticon anticon-down"></i>
      </a>
      <ul nz-menu>
        <li nz-menu-item>admin1</li>
        <li nz-menu-item>admin2</li>
        <li nz-menu-item>admin3</li>
      </ul>
    </nz-dropdown>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height:70px;background:#061f3e;color:#fff;float:left;width:55%;">
      <li nz-menu-item>主页</li>
      <li nz-menu-item>视频综合</li>
      <li nz-menu-item>视图研判</li>
      <li nz-menu-item>综合运维</li>
      <li nz-menu-item>资源管理</li>
      <li nz-menu-item>系统管理</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="296" class="sider">
      <ul nz-menu [nzMode]="'inline'" style="height:100%;background:#e9e9e9;">
        <li nz-menu-item class="ant-menu-item-selected" [routerLink]="['/home']">
          <span title><i class="anticon anticon-home"></i><span>首页</span></span>
        </li>
        <li nz-menu-item [routerLink]="['/case-manage']">
          <span title><i class="anticon anticon-tool"></i><span>案件管理</span></span>
        </li>
        <li nz-menu-item [routerLink]="['/source-manage']">
          <span title><i class="anticon anticon-appstore-o"></i><span>资源管理</span></span>
        </li>
        <li nz-menu-item [routerLink]="['/serial-manage']">
          <span title><i class="anticon anticon-usb"></i><span>串并案管理</span></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:16px 40px 0 14px;background:#f3f3f3">
      <nz-content style="min-height:280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

