.ant-layout {
    font-size: 16px;
    font-family: microsoft yahei;
}
.ant-layout-header {
    height:70px;
    line-height: 70px;
    background: #061f3e;
}
.header .ant-menu-item {
    /* padding:0 45px; */
    font-size: 17px;
    width:16.66%;
    text-align: center;
}
.header  .ant-menu-horizontal > .ant-menu-item:hover{
    background: url(../assets/images/nav_bg.png) no-repeat;
    border-bottom: none;
    color: #fff;
}
.header  .login_account {
    float:right;
    width:6%;
}
.header  .login_account a {
    color:#fff;
}
.sider .ant-menu-inline .ant-menu-item{
    font-size: 16px;
    color:#000;
    height:62px;
    line-height: 62px;
}
.sider .ant-menu-item-selected {
    color:#000;
    background-color: #f3f3f3;
}
.sider .ant-menu-inline .ant-menu-item:after,.sider .ant-menu-vertical .ant-menu-item:after {
    border:none;
}
.sider .ant-menu-item:hover {
    color:#000;
}