.gutter-box {
   
}
.x-card-title {
    font-size: 16px;
    color:#000;
}
:host ::ng-deep .x-card-title>.ant-card-head {
    border-left:6px solid #3288d6;
    height:62px;
    line-height: 62px;
    border-bottom:3px solid #f3f3f3;
}
:host ::ng-deep .x-card-title  .ant-card-head-title{
    font-size: 18px;
}
:host ::ng-deep .x-card-title .ant-card-body {
    padding:0;
}
:host ::ng-deep .x-card-inner-title .ant-card-head {
    padding-left:0px;
    height:66px;
    line-height: 66px;
    border-bottom: 3px solid #f3f3f3;
}
:host ::ng-deep .x-case-menu .ant-tabs-bar {
    border-bottom:3px solid #f3f3f3;
    margin-bottom:0;
}
:host ::ng-deep .x-case-menu .ant-tabs-nav .ant-tabs-tab {
    padding:22px 50px;
    font-size: 16px;
    color:#000;
}
:host ::ng-deep .x-case-menu .ant-tabs-nav .ant-tabs-tab:nth-child(2):after {
    height:11px;
    content:"";
    display: block;
    width:2px;
    background:#000;
    position: absolute;
    right:0;
    top:50%;
    margin-top:-5px;
}
.x-tab-content {
    padding:20px 0;
}
.x-tab-content .x-case-list .x-case-item {
    padding:8px 20px;
}
.x-info-list {
    overflow: hidden;
    color:#000;
    padding:0 30px;
}
.x-info-list .x-info-item {
    float: left;
    padding:12px 0;
    width:45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.x-info-list .x-info-item:nth-child(2n+1){
    /* margin-right:35px; */
}
.x-btn-yanpan {
    position: absolute;
    right:30px;
    top:20px;
}
.x-btn-yanpan .ant-btn-primary{
    width:104px;
}
.x-float-name {
    position: absolute;
    bottom:0;
    height:34px;
    line-height:34px;
    background: rgba(0,0,0,.5);
    color:#fff;
    font-size: 14px;
    padding-left:15px;
}